<div class="well clearfix">
    <form class="form-inline pull-right">
        <div class="form-group">
            <label class="sr-only">搜索书籍</label>
            <input type="search" class="form-control"  placeholder="书名" ng-model="search">
        </div>
        <button class="btn btn-default" ng-click="getDataAsync(1,pageOpts.pageSize,search)">搜索</button>
    </form>
</div>
<div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr><th>书号</th> <th>书名</th><th>操作</th> </tr>
        </thead>
        <tbody>
        <tr ng-repeat="book in books">
            <td scope="row">{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>
                <span ng-click="delete(book.id)">删除</span>
                <a href="#!/bookDetail/{{book.id}}">查看</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <nav aria-label="Page navigation" class="pull-center">
        <pagination pageSize="pageOpts.pageSize" numPages="pageOpts.page" currPage="pageOpts.curPage" onSelectPage="getDataAsync(curPage,pageSize,search)"></pagination>
    </nav>
</div>
<div></div>